<h1>Register Page</h1>

<form action="" method="POST">
    Name :<input type="text" name="name"><br><br>
    Email:<input type="email"  name="email"><br><br>
    Password :<input type="password" name="password"><br><br>

    <button>Register here</button><br><br>

    <a href="/login">Login</a>

</form>